<app-header-courtier></app-header-courtier>
<app-sidebar-courtier></app-sidebar-courtier>

<main role="main">

  <div class="container-fluid mainContent">

    <div class="row mb-4">
      <div class="col-md-12 d-flex justify-content-end">
        <a routerLink="/courtier/creer-projet" class="btn btn-default">Créer un dossier</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="portlet">
          <div class="headerPortlet">
            <h3>Liste des projets</h3>
          </div>
          <div class="bodyPortlet">
            <div class="row">
              <div class="col-md-12">
                <div class="alert alert-warning w-100 mt-2" role="alert">
                  Aucun projet à afficher.
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-12">

                <div class="contentProject">

                  <ul class="list-table">
                    <li class="list-table-header">
                      <div class="colm colm-1">Nom du projet</div>
                      <div class="colm colm-2">Nom du client</div>
                      <div class="colm colm-3">Email</div>
                      <div class="colm colm-4">Téléphone</div>
                      <div class="colm colm-5">Etat du projet</div>
                      <div class="colm colm-6"></div>
                    </li>
                    <li class="list-table-row">
                      <div class="colm colm-1" data-label="Nom du projet">Lorem ipsum dolor</div>
                      <div class="colm colm-2" data-label="Nom du client">Bryn Peascod</div>
                      <div class="colm colm-3" data-label="Email">bpeascodm@devhub.com</div>
                      <div class="colm colm-4" data-label="Téléphone">+33 452 365 87</div>
                      <div class="colm colm-5" data-label="Etat du projet">
                        <span class="statusProject progress-project">En cours</span>
                      </div>
                      <div class="colm colm-6" >
                        <a href="#" class="consulter">Consulter</a>
                      </div>
                    </li>
                    <li class="list-table-row">
                      <div class="colm colm-1" data-label="Nom du projet">Lorem ipsum dolor</div>
                      <div class="colm colm-2" data-label="Nom du client">Bryn Peascod</div>
                      <div class="colm colm-3" data-label="Email">bpeascodm@devhub.com</div>
                      <div class="colm colm-4" data-label="Téléphone">+33 452 365 87</div>
                      <div class="colm colm-5" data-label="Etat du projet">
                        <span class="statusProject finish-project">Terminer</span>
                      </div>
                      <div class="colm colm-6" >
                        <a href="#" class="consulter">Consulter</a>
                      </div>
                    </li>
                    <li class="list-table-row">
                      <div class="colm colm-1" data-label="Nom du projet">Lorem ipsum dolor</div>
                      <div class="colm colm-2" data-label="Nom du client">Bryn Peascod</div>
                      <div class="colm colm-3" data-label="Email">bpeascodm@devhub.com</div>
                      <div class="colm colm-4" data-label="Téléphone">+33 452 365 87</div>
                      <div class="colm colm-5" data-label="Etat du projet">
                        <span class="statusProject waiting-project">En attente</span>
                      </div>
                      <div class="colm colm-6" >
                        <a href="#" class="consulter">Consulter</a>
                      </div>
                    </li>
                    <li class="list-table-row">
                      <div class="colm colm-1" data-label="Nom du projet">Lorem ipsum dolor</div>
                      <div class="colm colm-2" data-label="Nom du client">Bryn Peascod</div>
                      <div class="colm colm-3" data-label="Email">bpeascodm@devhub.com</div>
                      <div class="colm colm-4" data-label="Téléphone">+33 452 365 87</div>
                      <div class="colm colm-5" data-label="Etat du projet">
                        <span class="statusProject waiting-project">En attente</span>
                      </div>
                      <div class="colm colm-6" >
                        <a href="#" class="consulter">Consulter</a>
                      </div>
                    </li>
                    <li class="list-table-row">
                      <div class="colm colm-1" data-label="Nom du projet">Lorem ipsum dolor</div>
                      <div class="colm colm-2" data-label="Nom du client">Bryn Peascod</div>
                      <div class="colm colm-3" data-label="Email">bpeascodm@devhub.com</div>
                      <div class="colm colm-4" data-label="Téléphone">+33 452 365 87</div>
                      <div class="colm colm-5" data-label="Etat du projet">
                        <span class="statusProject waiting-project">En attente</span>
                      </div>
                      <div class="colm colm-6" >
                        <a href="#" class="consulter">Consulter</a>
                      </div>
                    </li>
                    <li class="list-table-row">
                      <div class="colm colm-1" data-label="Nom du projet">Lorem ipsum dolor</div>
                      <div class="colm colm-2" data-label="Nom du client">Bryn Peascod</div>
                      <div class="colm colm-3" data-label="Email">bpeascodm@devhub.com</div>
                      <div class="colm colm-4" data-label="Téléphone">+33 452 365 87</div>
                      <div class="colm colm-5" data-label="Etat du projet">
                        <span class="statusProject waiting-project">En attente</span>
                      </div>
                      <div class="colm colm-6" >
                        <a href="#" class="consulter">Consulter</a>
                      </div>
                    </li>
                    <li class="list-table-row">
                      <div class="colm colm-1" data-label="Nom du projet">Lorem ipsum dolor</div>
                      <div class="colm colm-2" data-label="Nom du client">Bryn Peascod</div>
                      <div class="colm colm-3" data-label="Email">bpeascodm@devhub.com</div>
                      <div class="colm colm-4" data-label="Téléphone">+33 452 365 87</div>
                      <div class="colm colm-5" data-label="Etat du projet">
                        <span class="statusProject waiting-project">En attente</span>
                      </div>
                      <div class="colm colm-6" >
                        <a href="#" class="consulter">Consulter</a>
                      </div>
                    </li>

                  </ul>

                </div>

              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

  </div>
</main>

