

  <!--  for actualities type Acitivité-->

<!-- Modal -->
<div class="modal fade modalChosa editForm" id="modal-consult-project-" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle3">Modifier les informations </h5>
        <button type="button" class="closeModal" data-dismiss="modal" aria-label="Close" >
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body">

        <div class="row formDefault">


          <div class="col-md-12">
            <div class="form-group">
              <label for="validationName">Nom de projet</label>
              <input type="text" class="form-control" id="validationName"
                     aria-describedby="input-group-prepend" placeholder=""   disabled>
            </div>

            <div class="form-group">
              <label for="validationName">E-mail courtier</label>
              <input type="text" class="form-control" id="validationName"
                     aria-describedby="input-group-prepend" placeholder=""  disabled>
            </div>

            <div class="form-group">
              <label for="validationName">Nom courtier</label>
              <input type="text" class="form-control" id="validationName"
                     aria-describedby="input-group-prepend" placeholder=""  disabled>
            </div>
            <div class="form-group">
              <label for="validationName">Prenom courtier</label>
              <input type="text" class="form-control" id="validationName"
                     aria-describedby="input-group-prepend" placeholder=""  disabled>
            </div>
            <div class="form-group">
              <label for="validationName">Tél courtier</label>
              <input type="text" class="form-control" id="validationName"
                     aria-describedby="input-group-prepend" placeholder=""   disabled>
            </div>
            <div class="colm colm-5" data-label="Etat">
              <span class="statusProject new-project">Nouveau</span>
              <span  class="statusProject progress-project">En cours</span>
              <span  class="statusProject waiting-project">En attente</span>
              <span  class="statusProject finish-project">Terminé</span>
            </div>
            <br>
          </div>




        </div>
        <div class="modal-footer">


        </div>
      </div>
    </div>
  </div>
</div>
