

<div class="login">
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center h-100 pt-4 pb-4 content-login">
      <div class="col-xl-5 col-lg-6 col-md-10">
        <div class="wrap-login">
                        <span class="logo-login">
                            <img src="../../../assets/img/logo-ankan.png" alt="">
                        </span>

          <form class="needs-validation mt-5" novalidate [formGroup]="resetForm" (ngSubmit)="onSubmit()" >
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">

                  <label for="validationEmail">Username</label>
                  <input type="email" class="form-control" id="validationEmail" name="email"
                         aria-describedby="input-group-prepend" placeholder=""  formControlName="username" required>

                </div>

              </div>
              <div class="col-md-12">
                <div class="form-group">

                  <label for="validationEmail">Code</label>
                  <input type="email" class="form-control" id="validationEmail" name="email"
                         aria-describedby="input-group-prepend" placeholder="" formControlName="code" required>

                </div>

              </div>
              <div class="col-md-12">
                <div class="form-group">

                  <label for="validationEmail">nouveau mot de pass</label>
                  <input type="password" class="form-control" id="validationEmail" name="email"
                         aria-describedby="input-group-prepend" placeholder="" formControlName="userPassword" required>

                </div>

              </div>
              <div class="col-md-12">
                <div class="form-group">

                  <label for="validationEmail">confirmer mot de pass</label>
                  <input type="password" class="form-control" id="validationEmail" name="email"
                         aria-describedby="input-group-prepend" placeholder="" formControlName="confirmPassword" required>

                </div>
                <div class="alert alert-danger" *ngIf="f.confirmPassword.touched && f.confirmPassword.value!==f.userPassword.value">Ces mots de passe ne correspondent pas essayez à nouveau</div>


              </div>
            </div>

            <div class="row">
              <div class="col-md-12  d-flex mt-5 align-items-center justify-content-center">
                <button  type="submit" class="btn cnx w-100" [disabled]="!resetForm.valid || (f.confirmPassword.value!==f.userPassword.value)">
                  <span></span>
                  <span>Envoyer</span>
                </button>
              </div>
            </div>

          </form>



        </div>
      </div>
    </div>
  </div>
</div>
